@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {

    /* BackGroundColors */

    .bg-100-900 {
        @apply bg-gray-100 dark:bg-gray-900
    }

    .bg-200-800 {
        @apply bg-gray-200 dark:bg-gray-800
    }

    .bg-300-700 {
        @apply bg-gray-300 dark:bg-gray-700
    }

    /* TextColors */

    .text-900-100 {
        @apply text-gray-900 dark:text-gray-100
    }

    .text-800-200 {
        @apply text-gray-800 dark:text-gray-200
    }

    .text-700-300 {
        @apply text-gray-700 dark:text-gray-300
    }

    .text-600-400 {
        @apply text-gray-600 dark:text-gray-400
    }

    /* Postitions */

    .flex-center {
        @apply flex justify-center items-center
    }

    .flex-between {
        @apply flex justify-between
    }

    /* Colors */

    .bg-primary {
        @apply bg-gradient-to-r from-orange-500 to-amber-500
    }

    .bg-secondary {
        @apply bg-gradient-to-r from-slate-800 to-gray-800
    }

    .bg-background {
        @apply bg-gradient-to-br bg-no-repeat from-gray-900 to-gray-950
    }

    .bg-button {
        @apply bg-gradient-to-br bg-no-repeat from-green-500 to-emerald-500
    }

    .bg-blue {
        @apply bg-gradient-to-r bg-no-repeat from-cyan-950/50 to-blue-950/50 backdrop-blur-sm
    }

    /* Amimations */
    .hover-btn {
        @apply transition-all scale-105
    }

    /* Sizees */
    .h-max {
        height: calc(100vh - 88px);
    }

}

@font-face {
    font-family: 'morabba';
    src: url('/fonts/mo-medium.woff');
}

@font-face {
    font-family: 'morabba-light';
    src: url('/fonts/mo-light.woff');
}

@font-face {
    font-family: 'morabba-bold';
    src: url('/fonts/mo-bold.woff');
}

@font-face {
    font-family: 'dana';
    src: url('/fonts/dana-medium.woff');
}

@font-face {
    font-family: 'dana-light';
    src: url('/fonts/dana-light.woff');
}

@font-face {
    font-family: 'dana-bold';
    src: url('/fonts/dana-demi-bold.woff');
}

* {
    font-family: 'morabba';
}

.bg-login {
    background-image: url('/assets/pat2.png');
    background-size: 300px;
    opacity: 0.2;

}